<p-card [style]="{ width: '25rem', overflow: 'hidden' }">
    <ng-template pTemplate="header">
        <img alt="Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
    </ng-template>
    <ng-template pTemplate="title">{{post.title}}</ng-template>
    <ng-template pTemplate="subtitle">{{post.author}}</ng-template>
    <p>
        {{post.content}}
    </p>
    <ng-template pTemplate="footer">
        <div class="flex gap-4 mt-1 ">
        <p-button label="Like"/>
    </div>
        <div class="flex gap-4 mt-2">
            <p-button label="Delete" severity="danger"/>
            <p-button label="Update" severity="success" />
        </div>
    </ng-template>
</p-card>