<p-card [style]="{ width: '20rem', overflow: 'hidden', }">
    <ng-template pTemplate="title">{{post.title}}</ng-template>
    <ng-template pTemplate="subtitle">{{post.author}}</ng-template>
    <ng-template pTemplate="content">{{post.content}}</ng-template>
    <ng-template pTemplate="footer">
        <div class="flex gap-2">
                <p-button label="{{post.likes}}" icon="pi pi-thumbs-up" class="p-button-sm"></p-button>
                <p-button  icon="pi pi-trash" severity="danger" class="p-button-sm"></p-button>
                <p-button icon="pi pi-pencil" severity="success" class="p-button-sm"></p-button>
            </div>
    </ng-template>
</p-card>